.home {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.home-container {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  /* padding: 50px 20px; */
}

.home-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text {
  margin: 30px;
  text-align: center;
}

.home-text h1 {
  font-size: 50px;
}

.info-items {
  width: 250px;
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-container {
  position: relative;
}

.btn-email {
  width: 350px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-email .my-email {
  width: 100%;
}

.btn-email .icon-email-container {
  width: 60px;
  height: 70%;
  display: grid;
  place-items: center;
  border-left: 2px solid #999;
}

.btn-email svg {
  width: 25px;
  height: 25px;
}

.alert-copy-container {
  width: 200px;
  height: 40px;
  top: 70px;
  left: 70px;
  position: absolute;
  color: #555;
  background-color: rgb(111, 252, 111);
  display: grid;
  place-items: center;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.5s;
}
.alert-copy-container.show-alert {
  visibility: visible;
  opacity: 1; 
}

.home-right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.photo-box {
  width: 300px;
  height: 400px;
  border: 10px solid inherit;
  border-radius: 60px;  
  display: grid;
  place-items: center;
  padding: 20px;
  filter: grayscale(30%);
}
.photo-box:hover {
  filter: none;
}

.photo-box div {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 480px) {
  .home {
    text-align: center;
    width: 90%;
  }

  .home-right {
    display: none;
  }

  .home-container {
    height: 80vh;
  }

  .home-left {
    width: 100%;
  }

  .home-text {
    margin: 10px;
    text-align: center;
  }

  .btn-email {
    width: 320px;
    font-size: 16px;
  }
    
  .btn-email .icon-email-container {
    width: 40px;
    height: 70%;
    display: grid;
    place-items: center;
    border-left: 2px solid #999;
  }

  .btn-email svg {
    width: 20px;
    height: 20px;
  }

  .email-container {
    margin-top: 10px;
  }
}