/* =============== variable =============== */

:root {
  --light-font: #666;
  --light-bg-color: #eee;
  --light-outter-shadow: 7px 7px 10px rgba(30,30,120,0.1),
              -7px -7px 10px rgba(256,256,256,1);
  --light-inner-shadow: inset 7px 7px 10px rgba(30,30,120,0.1),
              inset -7px -7px 10px rgba(256,256,256,1);
  
  --dark-font: #aaa;
  --dark-bg-color: #333;
  --dark-outter-shadow: 7px 7px 10px rgba(0,0,0,0.4),
               -7px -7px 10px rgba(256,256,256,0.1);
  --dark-inner-shadow: inset 7px 7px 10px rgba(0,0,0,0.4),
              inset -7px -7px 10px rgba(256,256,256,0.1);
  
  --scale-btn-push: scale(0.99);
}

/* =============== format style =============== */

.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

h4 {
  letter-spacing: 0.1em;
}

input,
select,
button,
textarea,
div,
a, a:visited, a:hover, a:active {
  -webkit-tap-highlight-color: transparent;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  /* background-color: inherit; */

}

.special-link, .special-link:visited, .special-link:hover, .special-link:active {
  color: inherit;
  background-color: inherit;
}

button { 
  border: none; 
  background-color: inherit; 
  color: inherit;
  display: block;
}

/* =============== background and font style =============== */

.light-mode {
  background-color: var(--light-bg-color);
  color: var(--light-font);
}

.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-font);  
}

/* ============== components style ============== */

.outter-shadow.light-mode {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  box-shadow: var(--light-outter-shadow);
  background-color: var(--light-bg-color);
}

.outter-shadow.light-mode.nav-items {
  box-shadow: none;
  background-color: transparent;
}

@media screen and (max-width: 480px) {
  .outter-shadow.light-mode.nav-items {
    box-shadow: var(--light-outter-shadow);
    background-color: var(--light-bg-color);
  }  
}

.inner-shadow.light-mode {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  box-shadow: var(--light-inner-shadow);
  /* background-color: red; */
}

.input.light-mode {
  /* width: 100px; */
  /* height: 100px; */
  border: 10px solid var(--light-bg-color);
  /* border-radius: 50%; */
  box-shadow: var(--light-outter-shadow),
              var(--light-inner-shadow);
}

.light-mode.btn-plain {
  /* width: 100px;
  height: 50px;
  border-radius: 15px;
  display: grid; */
  place-items: center;
  cursor: pointer;
}
.light-mode.btn-plain:active {
  box-shadow: var(--light-inner-shadow);
  transform: var(--scale-btn-push)  ;
}

.light-mode.btn-shadow {
  /* width: 100px;
  height: 50px;
  border-radius: 15px;
  display: grid;
  place-items: center; */
  box-shadow: var(--light-outter-shadow);
  cursor: pointer;
}
.light-mode.btn-shadow:active {
  box-shadow: none;
  transform: var(--scale-btn-push)  
}

.light-mode.curve-box {
  background: linear-gradient(135deg, #fff, #ccc);
}



/* ============== dark-mode ============== */

.dark-mode.outter-shadow {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  box-shadow:  var(--dark-outter-shadow);
  background-color: var(--dark-bg-color)
}
.outter-shadow.dark-mode.nav-items {
  box-shadow: none;
  background-color: transparent;
}
@media screen and (max-width: 480px) {
  .outter-shadow.dark-mode.nav-items {
    box-shadow: var(--dark-outter-shadow);
    background-color: var(--dark-bg-color);
  }  
}

.dark-mode.inner-shadow {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  box-shadow: var(--dark-inner-shadow)
}

.input.dark-mode {
  /* width: 100px;
  height: 100px; */
  /* border-radius: 50%; */
  border: 10px solid var(--dark-bg-color);
  box-shadow: var(--dark-outter-shadow),
              var(--dark-inner-shadow)
}

.dark-mode.btn-plain {
  /* width: 100px;
  height: 50px;
  border-radius: 15px;
  display: grid;
  place-items: center; */
  cursor: pointer;
}
.dark-mode.btn-plain:active {
  box-shadow: var(--dark-inner-shadow);
  transform: var(--scale-btn-push)  
}

.dark-mode.btn-shadow {
  /* width: 100px;
  height: 50px;
  border-radius: 15px;
  display: grid;
  place-items: center; */
  box-shadow: var(--dark-outter-shadow);
  cursor: pointer;
}
.dark-mode.btn-shadow:active {
  box-shadow: none;
  transform: var(--scale-btn-push)  
}

.dark-mode.curve-box {
  background: linear-gradient(-15deg, rgba(33, 33, 33, 1) 0%, rgba(66,66,66,1) 100%);
}